<div class="container text-dark"   style="background:#fffffa;">
  <div class="d-flex pt-2" >
    <button  class="btn btn-primary" onclick="printDiv('printData');" type="button">Print</button>
  </div>
  <div id="printData">
    <div class="d-flex pt-5 px-3">
      <div class="col-md-7">
        <p class="display-1 text-custom pb-0" style="font-size: 6rem;">Invoice</p>

        <div class="d-flex justify-content-between">
          <p> 
            Invoice ID : {{iid}}
          </p>
          <p>
            Invoice Date :{{idate}}
          </p>
        </div>
      </div>
      <div class="vl col-md-5 d-flex flex-column justify-content-center " >
        <p class="display-4 mb-0">
          Dino Center</p>
        <p>
          xyz xyz xyz ,<br>
          asdklajkdljl <br>
          1234567890 <br>
          asdfgh@gmail.com <br>
        </p>
      </div>
    </div>
    <hr >
    <div class="d-flex px-3">
      <div class="col-md-7">
        <p class="display-4">Terms of service</p>
      
        <div class="d-flex justify-content-center">
          <p> 
            Terms of service are rules by which one must agree to abide in order to use a service. Terms of service can also be merely a disclaimer, especially regarding the use of websites.
          </p>
        </div>
      </div>
      <div class="vl col-md-5 d-flex flex-column justify-content-center " >
        <p class="display-4 mb-0">
          {{cname}}</p>
        <p>
          {{cid}} ,<br>
          {{caddr}} <br>
          {{cphone}} <br>
          {{cemail}} <br>
        </p>
      </div>
    </div>
      
    <div class="d-flex pt-5 px-3">
      <table class="table">
        <thead class="text-white bgc">
          <tr>
            <th>Item id</th>
            <th>Item Name</th>
            <th>QTY</th>
            <th>GST</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
      <tr *ngFor="let x of item">
        <td>{{x.id}}</td>
        <td>{{x.name}}</td>
        <td>{{x.qty}}</td>
        <td>{{x.gst}}</td>
        <td>{{x.price}}</td>
        <td>{{x.date}}</td>
    </tr>
        </tbody>
      </table>
    
    </div>
    <div class="d-flex bgc mx-3" style="height:2px;"></div>
    <div class="d-flex justify-content-end px-5">
      <p class="display-4 py-3">Total Amount : {{ta}} &#8377;</p>
    </div>
</div>
</div>
