<div class="login-clean">
  <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" >
      <h2 class="sr-only">Login Form</h2>
      <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
      <div class="d-flex justify-content-center pb-4"><img class="center-cropped" src="../../assets/img/logo.png" alt="logo"></div>
      <div class="form-group">
        <input class="form-control" type="text" name="email" placeholder="Email" [(ngModel)]="model.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required>
        <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
            <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password"  [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
  </form>
</div>
