<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/forms" routerLinkActive="active">
        <i class="menu-icon fa fa-user-o"></i>
        <span class="menu-title">Customer Management </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/buttons" routerLinkActive="active">
        <i class="menu-icon fa fa-vcard-o"></i>
        <span class="menu-title">Employee Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/progressbar" routerLinkActive="active">
        <i class="menu-icon fa fa-window-maximize"></i>
        <span class="menu-title">Room Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carousel" routerLinkActive="active">
        <i class="menu-icon fa fa-meetup"></i>
        <span class="menu-title">Inventory Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tooltips" routerLinkActive="active">
        <i class="menu-icon fa fa-bandcamp"></i>
        <span class="menu-title">Inquiry Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tabs" routerLinkActive="active">
        <i class="menu-icon fa fa-eercast"></i>
        <span class="menu-title">Order Details</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dropdowns" routerLinkActive="active">
        <i class="menu-icon fa fa-wpexplorer"></i>
        <span class="menu-title">Bill Generation</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/breadcrumbs" routerLinkActive="active">
        <i class="menu-icon mdi mdi-flag-outline"></i>
        <span class="menu-title">Statement Generation</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pagination" routerLinkActive="active">
        <i class="menu-icon mdi mdi-loupe"></i>
        <span class="menu-title">Statistics</span>
      </a>
    </li> 
  </ul>
</nav>
