<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scroll-wrapper scrollbar-inner" style="position: relative;"><div class="scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 695px;">
      <!-- Brand -->
      <div class="sidenav-header d-flex align-items-center">
      
          <img src="../../assets/img/brand/rsz_1rsz_12logo.png" class="img-fluid" style="transform: scale(0.5)" alt="...">
        
        
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class=" navbar-nav nav nav-fill " role="tablist">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/"  role="button" aria-expanded="true" data-toggle="tab"  aria-controls="navbar-dashboards">
                <i class="ni ni-shop text-primary"></i>
               <span class="nav-link-text">Dashboards</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/customer" data-toggle="tab" role="button" aria-expanded="false" aria-controls="navbar-examples">
                <i class="ni ni-ungroup text-orange"></i>
                <span class="nav-link-text">Customer Manegment</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/emp" data-toggle="tab" role="button" aria-expanded="false" aria-controls="navbar-components">
                <i class="ni ni-ui-04 text-info"></i>
                <span class="nav-link-text">Employee Manegment</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/inventory" data-toggle="tab" role="button" aria-expanded="false" aria-controls="navbar-forms">
                <i class="ni ni-single-copy-04 text-pink"></i>
                <span class="nav-link-text">Inventory Manegment</span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/room"  role="button"  data-toggle="tab" aria-expanded="true" aria-controls="navbar-dashboards">
                  <i class="ni ni-shop text-primary"></i>
                 <span class="nav-link-text">Room Manegment</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/bill" data-toggle="tab" role="button" aria-expanded="false" aria-controls="navbar-maps">
                <i class="ni ni-map-big text-primary"></i>
                <span class="nav-link-text">Bill</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/widgets.html">
                <i class="ni ni-archive-2 text-green"></i>
                <span class="nav-link-text">Widgets</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/charts.html">
                <i class="ni ni-chart-pie-35 text-info"></i>
                <span class="nav-link-text">Charts</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/calendar.html">
                <i class="ni ni-calendar-grid-58 text-red"></i>
                <span class="nav-link-text">Calendar</span>
              </a>
            </li>
          </ul>
         
        </div>
      </div>
    </div><div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px; left: 0px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 565px; top: 0px;"></div></div></div></div>
  </nav>